
@{
    ViewData["Title"] = "NotLoggedInError";
}

<h1>You are not logged in!</h1> 
<p>Please return to the login page to log in.</p><br /><br />
<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
</p>

