@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to the Grand Rapids Keyboard Shop</p>

    @if (ViewBag.Name != null)
    {
        <p>Logged in as @ViewBag.Name.</p>
    }
</div>
