
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method="Post">
    <label for="email">Email:</label>
    <input type="text" name="email"/> <br /><br />
    <label for="pass">Password:</label>
    <input type="password" name="pass" /> <br /> <br />
    <input type="submit" />
</form>

